<div class="block">
  <div class="block__left">
    <h2 class="block__left_h">¿qué es un deporte extremo?</h2>

    <p class="block__left_p">
      Deportes extremos es un término popular que se ha usado para calificar
      ciertas actividades o disciplinas, que tienen un alto nivel de riesgo
      inherente. El objetivo es llegar a superarse a uno mismo y para ello, es
      necesario el desarrollo de cualidades físicas, habilidades motoras, gran
      resistencia general y, sobre todo, una gran preparación psicológica y de
      vínculos sociales entre los participantes.
    </p>

    <p class="block__left_p">
      Bajo este concepto se agrupan muchos deportes con distintos desafíos,
      donde predomina el autocontrol, la determinación, el manejo del miedo y la
      concentración, ya que se pone en riesgo la integridad física en su
      ejecución. También implican cierta dosis de exigencia física y preparación
      para la aplicación de diferentes técnicas que ayudan controlar los
      riesgos.
    </p>
  </div>
  <div class="block__rigth">
    <h2  class="block__rigth_h">Los deportes extremos tienen varias características como:</h2>
    <ul class="block__rigth_ul">
      <li class="block__rigth_ul_li">No hay reglamentación fija.</li>
      <li class="block__rigth_ul_lip">No hay horario específico.</li>
      <li class="block__rigth_ul_li">Los deportes son originales y creativos.</li>
      <li class="block__rigth_ul_lip">Hay una constante búsqueda de placer y satisfacción.</li>
      <li class="block__rigth_ul_li">Sensaciones de riesgo y aventura.</li>
      <li class="block__rigth_ul_lip">Liberación psíquica y física.</li>
    </ul>
  </div>
</div>
