.block {
    display: flex;
    flex-direction: row;

    &__left{
        width: 50%;
        padding: 2%;

        &_h{
            margin-bottom: 4%;
            font-weight: 600;
        }

        &_p{
            text-align: justify;
            margin-top: 3%;
        }
    }

    &__rigth{
        width: 50%;
        padding: 2%;
        background-color: #D7FC69;

        &_h{
            margin-bottom: 4%;
            font-weight: 600; 
        }

        &_ul{
            text-align: center;

            &_li{
                margin-bottom: 1%;
                font-weight: 800; 
            }

            &_lip{
                margin-bottom: 1%;
                font-weight: 500; 
            }
        }
    }

}