<div class="block">
  <h2>Ha sido un placer participar en tus clases ;)</h2>

  <p>
    Nada más que darte una vez más las gracias por la parte que me toca, ahn
    sido unos meses muy densos pero sin duda enrriquecedores. Tengo claro que
    hasta el momento la tuya ha sido la mejor formación que he recibido por la
    claridad en los conceptos y el saber hacer. 
  </p>

  <p>Se nota y de sobre manera la
    capacidad de sintesis que tienes y lo mejor de todo es que eres capaz de
    transmitirlo de manera clara.</p>

  <p>Lo dicho y sin más peloteos, mucho gusto y que te vaya bien todo.</p>
</div>
