<div class="block">
  <div class="block__left"></div>
  <div class="block__rigth">
    <h2 class="block__rigth_h">¿Qué requisitos necesita un depote extremo?</h2>

    <ul class="block__rigth_ul">
      <li class="block__rigth_ul_li">
        <span>Adrenalina:</span> Un deporte extremo debe generar una gran dosis
        de adrenalina en los participantes y espectadores. Esto puede ser
        causado por la velocidad, altura, peligro o dificultad del deporte.
      </li>
      <li class="block__rigth_ul_li">
        <span>Riesgo:</span> Un deporte extremo debe involucrar un cierto nivel
        de riesgo para los participantes. Este riesgo puede ser físico,
        emocional o psicológico.
      </li>
      <li class="block__rigth_ul_li">
        <span>Técnica:</span> A menudo, los deportes extremos requieren
        habilidades técnicas avanzadas para llevarlos a cabo. Por ejemplo, la
        escalada en roca requiere habilidades de escalada y el surf requiere
        habilidades para leer las olas.
      </li>
      <li class="block__rigth_ul_li">
        <span>Innovación:</span> Los deportes extremos suelen estar asociados
        con la innovación y la creatividad en la forma en que se realizan. Los
        participantes a menudo buscan empujar los límites de lo que se considera
        posible y crear nuevas formas de llevar a cabo el deporte.
      </li>
    </ul>
  </div>
</div>
