.sport{
    width: 200px;
    margin-right: 24px;
    border: 1px solid;
    margin-bottom: 24px;
    cursor: pointer;

    &__title{
        margin: 8px 0px 8px 0px;
    }

    &__image{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-bottom: 2px solid;
    }

}

