<div class="flexBody">
  <div class="homeBack">
    <h1 class="iconText">
      E<span class="xDecoration">x</span>treme
      <span class="xDecoration">s</span>port
    </h1>
    <youtube-player
      class="video"
      videoId="u7w778zMWZw"
      suggestedQuality="highres"
      [height]="300"
      [width]="550"
      [startSeconds]="0"
      [endSeconds]="450"
    >
    </youtube-player>
  </div>
  <app-what-is></app-what-is>
  <app-what-need></app-what-need>
  <app-explain-my-proyect></app-explain-my-proyect>
</div>
