<nav class="nav">
  <img class="nav__logo" src="../../../../assets/image/landing-icon-black.png" alt="Icono de la marca" />
  <div class="nav__div">
    <ul class="nav__ul">
      <li><a class="nav__link" routerLink="/home">home</a></li>
      <li>
        <a class="nav__link" routerLink="/created-sport">created-sport</a>
      </li>
      <li><a class="nav__link" routerLink="/sport-list">sport-list</a></li>
      <li><a class="nav__link" routerLink="/about">about</a></li>
    </ul>
  </div>
</nav>
